html{
    font-family: Poppins;
    margin-top: 30px;
    padding: 0px;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    background-color:rgb(170, 255, 227);
    color:rgb(216, 104, 0);
    align-items: left;

}


.welcomeMessage{
    text-align: center;
    font-size: 24px;
}

#input {
    border: 0;
    padding: 5px;
    margin-left: 30px;
}

.messages {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    font-size: 18px;
    margin-left: 30px;
}

.user {
    margin-top: 2px;
}

.reply {
    margin-top: 2px;
}